version: "3.7"

services:
  nifi:
    image: apache/nifi:1.19.1
    ports:
      - "8080:8080"   # NiFi UI
    volumes:
      - conf:/opt/nifi/current/conf
      - content:/opt/nifi/current/content_repository
      - db:/opt/nifi/current/database_repository
      - flowfile:/opt/nifi/current/flowfile_repository
      - provenance:/opt/nifi/current/provenance_repository
      - logs:/opt/nifi/current/logs
      - data:/opt/nifi/current/data
    networks:
      - lakehouse

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"   # MQTT
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_config:/mosquitto/config
      - mosquitto_log:/mosquitto/log
    networks:
      - lakehouse

volumes:
  conf:
  content:
  db:
  flowfile:
  provenance:
  logs:
  data:
  mosquitto_data:
  mosquitto_config:
  mosquitto_log:

networks:
  lakehouse:
    name: lakehouse
