version: "3.8"

services:
  airflow-db:
    image: postgres:16
    container_name: airflow-db
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
    volumes:
      - airflow-db-data:/var/lib/postgresql/data
    networks:
      - lakehouse

  airflow-webserver:
    image: apache/airflow:2.9.3-python3.10
    container_name: airflow-webserver
    depends_on:
      airflow-db:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
    ports:
      - "8080:8080"
    command: >
      bash -c "
        airflow db upgrade &&
        airflow users delete --username admin || true &&
        airflow users create --username admin --password admin --role Admin --email admin@example.com &&
        airflow webserver
      "

    networks:
      - lakehouse

volumes:
  airflow-db-data:

networks:
  lakehouse:
    external: true
