services:
  airflow_db:
    image: postgres:16
    container_name: airflow_db
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - airflow-pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]

  airflow:
    image: apache/airflow:2.9.3-python3.10
    container_name: airflow
    depends_on:
      airflow_db:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow_db/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username airflow
        --password airflow
        --role Admin
        --email admin@example.com || true &&
      airflow webserver & airflow scheduler
      "
    networks:
      - lakehouse

networks:
  lakehouse:
    external: true

volumes:
  airflow-pg-data:
